.Dictionary-form {
  margin: 70px 0;
}

.Dictionary-form section {
  background-color: #c8d6bf;
  padding: 30px;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 20px;
}

.Dictionary-form input {
  width: 100%;
  padding: 6px 4px;
  border-radius: 6px;
  color: #333;
  border: 1px solid #ddd;
}
.Dictionary-form .hint {
  font-size: 13px;
  margin-top: 5px;
}

.Dictionary-form h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.Dictionary-form input {
  background-color: #fdfffd;
}
